@model  IEnumerable<BookStore.Domain.Classes.Author> 




@foreach (var author in Model)
{
    <div>
        <table class="table">
            <tr>
                <td>name: </td>
                <td>@author.name</td>
            </tr>
            <tr>
                <td>biography: </td>
                <td>@author.shortBio</td>
            </tr>
            
        </table>

    </div>

}

